@font-face {
  font-family: clipFont;
  src: url("../fonts//Clip.ttf");
}

@font-face {
  font-family: sinkinThin;
  src: url("../fonts/SinkinSans-100Thin.otf");
}

@font-face {
  font-family: sinkinLight;
  src: url("../fonts/SinkinSans-200XLight.otf");
}

@font-face {
  font-family: sinkinRegular;
  src: url("../fonts/SinkinSans-400Regular.otf");
}

@font-face {
  font-family: sinkinMedium;
  src: url("../fonts/SinkinSans-500Medium.otf");
}

@font-face {
  font-family: sinkinBold;
  src: url("../fonts/SinkinSans-700Bold.otf");
}

@font-face {
  font-family: sinkinBlack;
  src: url("../fonts/SinkinSans-900XBlack.otf");
}

@font-face {
  font-family: leagueFont;
  src: url("../fonts/LeagueSpartan-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: visible;
}

body {
  background-color: #141414;
  color: #f3f3f3;
  font-family: sinkinRegular;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #fff;
  background-color: #5390d9;
}

::selection {
  color: #fff;
  background-color: #5390d9;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #6830c394;
  border-radius: 10px;
  border: 0px solid #000000;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a,
p,
span,
h1,
h2,
h3 {
  cursor: default;
}

a,
p,
span {
  font-family: sinkinRegular;
}

h1,
h2,
h3 {
  font-family: leagueFont;
}

h1 {
  font-size: 4em;
}

p {
  color: silver;
}

button {
  cursor: pointer;
}

nav {
  position: fixed;
  z-index: 1;
}

nav h1 {
  text-align: center;
  cursor: pointer;
  position: absolute;
  padding: 40px;
  z-index: 99;
  font-size: 2em;
}

nav ul {
  height: 100vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  place-items: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 20px 40px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-clip-path: inset(5px -15px 5px 5px);
          clip-path: inset(5px -15px 5px 5px);
}

nav ul li:last-child {
  cursor: default;
}

nav ul li a {
  font-family: sinkinBlack;
  cursor: pointer;
}

nav ul li:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

nav ul li:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

nav ul li:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

nav ul li:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

nav ul li:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 7 / 2;
}

.container {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container .menu {
  position: fixed;
  top: 2vh;
  left: 4vw;
  z-index: 99;
}

.container #socialUl {
  position: fixed;
  bottom: 10%;
  right: 0;
  background-color: #dfdfdf;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #a5a5a5;
          box-shadow: 0px 0px 15px 0px #a5a5a5;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  z-index: 999;
}

.container #socialUl:hover {
  background-color: #fff;
}

.container #socialUl li {
  padding: 0 5px;
  font-size: 1.3vw;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #141414;
}

.container #socialUl li:hover {
  color: #6930c3;
}

.container .containerInner {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.container .containerInner #linesDiv {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  z-index: -3;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container .containerInner #linesDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #141414;
  -webkit-animation: lineAnim 4s infinite;
          animation: lineAnim 4s infinite;
  z-index: -1;
}

.container .containerInner #linesDiv #hideTop {
  position: absolute;
  right: 0;
  top: -120px;
  height: 130px;
  width: 100%;
  background-color: #141414;
}

.container .containerInner #linesDiv #waveShape {
  position: relative;
  -webkit-filter: drop-shadow(0 0 20px #6930c3);
          filter: drop-shadow(0 0 20px #6930c3);
  z-index: -3;
}

.container .containerInner .main {
  position: relative;
  width: 100%;
  -webkit-transform: rotateY(0deg) translateZ(0);
          transform: rotateY(0deg) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
  transition: -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
  transition: transform 0.5s ease, filter 0.5s ease;
  transition: transform 0.5s ease, filter 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
  overflow: hidden;
}

.container .containerInner .main .header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container .containerInner .main .header #linesDiv {
  -webkit-transform: rotate(-30deg) scale(1.25);
          transform: rotate(-30deg) scale(1.25);
}

.container .containerInner .main .header .grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  place-items: center;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 h1 {
  font-family: clipFont;
  font-size: 7vw;
  background: -webkit-gradient(linear, left top, right top, from(#6930c3), to(#5390d9));
  background: linear-gradient(to right, #6930c3, #5390d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 h3 {
  font-size: 1.8vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 #bottomTxt {
  max-width: 27.5vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 #hireMe {
  position: absolute;
  bottom: 10%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-animation: tilt-anim 3s ease infinite;
          animation: tilt-anim 3s ease infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  color: #141414;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 #hireMe:active {
  border: none;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 #hireMe a {
  font-size: 4.5vw;
  text-shadow: 0px 0px 2px #6930c3;
  font-family: clipFont;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container .containerInner .main .header .grid-col-2 .grid-item-1 #hireMe a:hover {
  color: #5390d9;
  text-shadow: 0px 0px 10px #5390d9;
}

.container .containerInner .main .header .grid-col-2 .grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.container .containerInner .main .header .grid-col-2 .grid-item-2 #profileImgDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .containerInner .main .header .grid-col-2 .grid-item-2 #profileImgDiv .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 30vw;
  width: 30vw;
}

.container .containerInner .main .header .grid-col-2 .grid-item-2 #profileImgDiv .card #profile-image {
  position: absolute;
  height: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
          filter: drop-shadow(5px 5px 5px #000);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .containerInner .main .header .grid-col-2 .grid-item-2 #profileImgDiv .card #profile-image:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #6930c3);
          filter: drop-shadow(5px 5px 5px #6930c3);
}

.container .containerInner .main .about {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #141414;
}

.container .containerInner .main .about #aboutTopGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container .containerInner .main .about #aboutTopGrid #linesDiv {
  -webkit-transform: rotate(15deg) scale(1.1) translateY(50%);
          transform: rotate(15deg) scale(1.1) translateY(50%);
  top: 40%;
}

.container .containerInner .main .about #aboutTopGrid #linesDiv #waveShape {
  position: relative;
  -webkit-filter: drop-shadow(0 0px 20px #64dfdf);
          filter: drop-shadow(0 0px 20px #64dfdf);
  z-index: -3;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  background-color: transparent;
  border-radius: 10px;
  -webkit-transform: rotateY(20deg) translate(10%, 10%) translateZ(0);
          transform: rotateY(20deg) translate(10%, 10%) translateZ(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  place-items: center;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  text-align: center;
  border-radius: 10px;
  background-color: #181818;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #141414;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0 #2f2f2f, -6px 10px 0 0 rgba(40, 40, 40, 0.75), -12px 20px 0 0 rgba(45, 45, 45, 0.5);
          box-shadow: 0px 0px 5px 0 #2f2f2f, -6px 10px 0 0 rgba(40, 40, 40, 0.75), -12px 20px 0 0 rgba(45, 45, 45, 0.5);
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:hover {
  -webkit-box-shadow: 0px 0px 25px 0 #6930c3, -6px 10px 0 0 rgba(40, 40, 40, 0.75), -12px 20px 0 0 rgba(45, 45, 45, 0.5) !important;
          box-shadow: 0px 0px 25px 0 #6930c3, -6px 10px 0 0 rgba(40, 40, 40, 0.75), -12px 20px 0 0 rgba(45, 45, 45, 0.5) !important;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:hover .skillHeader {
  color: #6930c3;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:not(:nth-child(3)):not(:nth-child(4)) .skillHeader {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  background: -webkit-gradient(linear, left top, right top, from(#6930c3), to(#5390d9));
  background: linear-gradient(to right, #6930c3, #5390d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(3), .container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(4) {
  -webkit-box-shadow: 0px 0px 5px 0 #6930c3, -6px 10px 0 0 #6830c3b0, -12px 20px 0 0 #6830c362;
          box-shadow: 0px 0px 5px 0 #6930c3, -6px 10px 0 0 #6830c3b0, -12px 20px 0 0 #6830c362;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(3):hover, .container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(4):hover {
  -webkit-box-shadow: 0px 0px 25px 0 dimgray, -6px 10px 0 0 #6830c3b0, -12px 20px 0 0 #6830c362 !important;
          box-shadow: 0px 0px 25px 0 dimgray, -6px 10px 0 0 #6830c3b0, -12px 20px 0 0 #6830c362 !important;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill .skillIcon {
  font-size: 7.5vw;
  color: #dbdbdb;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill .skillHeader {
  font-size: 1.5vw;
  font-family: leagueFont;
  cursor: pointer;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(1):hover .skillIcon {
  color: #f7df1d;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(2):hover .skillIcon {
  color: #0b78bb;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#6930c3), to(#5390d9));
  background: linear-gradient(to right, #6930c3, #5390d9);
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(3) .skillHeader {
  color: #000;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(3):hover .skillIcon {
  color: #cd669b;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#6930c3), to(#5390d9));
  background: linear-gradient(to right, #6930c3, #5390d9);
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(4) .skillHeader {
  color: #000;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(4):hover .skillIcon {
  color: #95bf47;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(5):hover .skillIcon {
  color: #e54d26;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.container .containerInner .main .about #aboutTopGrid #skillsContainer #skillsGrid .skill:nth-child(6):hover .skillIcon {
  color: #00d8ff;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 10px;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 10px;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 100%;
  height: 2px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  background-color: #64dfdf;
  -webkit-box-shadow: 0px 0px 5px 0 #64dfdf, 5px 5px 10px 0 #6930c3, 10px 10px 15px 0 #6930c3;
          box-shadow: 0px 0px 5px 0 #64dfdf, 5px 5px 10px 0 #6930c3, 10px 10px 15px 0 #6930c3;
  z-index: -1;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader:hover p {
  color: #fff;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader h1 {
  font-size: 2vw;
  font-family: sinkinBlack;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader p {
  font-size: 1vw;
  color: silver;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.container .containerInner .main .about #aboutTopGrid #skillHeader span {
  font-family: sinkinBold;
  color: #6930c3;
}

.container .containerInner .main .about .qualitiesContainer {
  position: relative;
  padding-top: 200px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .containerInner .main .about .qualitiesContainer h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  font-size: 3vw;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 6px solid #6930c3;
  border-radius: 10px;
  padding: 20px;
  width: 12.5vw;
  min-width: 300px;
  height: 30vh;
  min-height: 350px;
  margin: 5px 20px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item:hover {
  background-color: #6930c3;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0.75), 0px 18px 0 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0.75), 0px 18px 0 0 rgba(255, 255, 255, 0.5);
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item .itemInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item .itemInner img {
  height: 20vh;
  max-height: 185px;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item .itemInner h3 {
  padding-top: 10px;
  cursor: pointer;
}

.container .containerInner .main .about .qualitiesContainer #qualitiesGrid .item .itemInner p {
  font-family: sinkinRegular;
  font-size: 12px;
  cursor: pointer;
}

.container .containerInner .main .projects {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  padding-top: 100px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .containerInner .main .projects .projectsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.3fr (1fr)[3];
      grid-template-rows: 0.3fr repeat(3, 1fr);
  grid-row-gap: 10px;
  overflow-y: scroll;
  max-height: 70vh;
  scroll-behavior: smooth;
  -webkit-transform: rotateX(5deg) scale(1) translateY(100px);
          transform: rotateX(5deg) scale(1) translateY(100px);
  opacity: 0.25;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .containerInner .main .projects .projectsGrid .projectsHeader {
  padding: 0 40px;
}

.container .containerInner .main .projects .projectsGrid .projectItem {
  border-radius: 5px;
  background-color: #141414;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .containerInner .main .projects .projectsGrid .projectItem:hover {
  background: #6930c3;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.35fr;
      grid-template-columns: 1fr 0.35fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0 40px;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 5 / 2;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(1) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(2) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .bouquetGrid .bouquetItem:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
  background: linear-gradient(60deg, #6930c3, #5390d9);
}

.container .containerInner .main .projects .projectsGrid .yarinGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.35fr 0.75fr;
      grid-template-columns: 0.35fr 0.75fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0 40px;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 5 / 3;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(1) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(2) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .yarinGrid .yarinItem:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 5 / 2;
  background: linear-gradient(60deg, #6930c3, #5390d9);
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 0.35fr;
      grid-template-columns: 0.75fr 0.35fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0 40px;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 5 / 2;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(1) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(2) img {
  width: 100%;
  height: auto;
}

.container .containerInner .main .projects .projectsGrid .nitaiGrid .nitaiItem:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
  background: linear-gradient(60deg, #6930c3, #5390d9);
}

.container .containerInner .main .contact {
  position: relative;
  height: 50vh;
}

.menuBall {
  -webkit-animation: menuBall 0.3s ease;
          animation: menuBall 0.3s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menuBallBW {
  -webkit-animation: menuBallBW 0.3s ease;
          animation: menuBallBW 0.3s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rotateY {
  -webkit-animation: rotateY 0.5s ease;
          animation: rotateY 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rotateYBW {
  -webkit-animation: rotateYBW 0.5s ease;
          animation: rotateYBW 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navActive {
  display: -ms-grid;
  display: grid;
  background-color: #6930c3;
  -webkit-box-shadow: 0px 0px 20px 0 #6930c3;
          box-shadow: 0px 0px 20px 0 #6930c3;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.projectsAnim {
  -webkit-animation: projectsAnim 0.5s ease;
          animation: projectsAnim 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tilt-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  2% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  3% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  5% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  7% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  9% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
}

@keyframes tilt-anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  2% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  3% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  5% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  7% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  9% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
    color: #5390d9;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    color: #141414;
  }
}

@-webkit-keyframes lineAnim {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 0%;
  }
}

@keyframes lineAnim {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 0%;
  }
}

@-webkit-keyframes menuBall {
  from {
    right: -100%;
  }
  to {
    right: -25px;
  }
}

@keyframes menuBall {
  from {
    right: -100%;
  }
  to {
    right: -25px;
  }
}

@-webkit-keyframes menuBallBW {
  from {
    right: -65px;
  }
  to {
    right: -100%;
  }
}

@keyframes menuBallBW {
  from {
    right: -65px;
  }
  to {
    right: -100%;
  }
}

@-webkit-keyframes rotateY {
  from {
    -webkit-transform: rotateY(0deg) translateZ(0);
            transform: rotateY(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotateY(-10deg) translateZ(0);
            transform: rotateY(-10deg) translateZ(0);
  }
}

@keyframes rotateY {
  from {
    -webkit-transform: rotateY(0deg) translateZ(0);
            transform: rotateY(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotateY(-10deg) translateZ(0);
            transform: rotateY(-10deg) translateZ(0);
  }
}

@-webkit-keyframes rotateYBW {
  from {
    -webkit-transform: rotateY(-10deg) translateZ(0);
            transform: rotateY(-10deg) translateZ(0);
  }
  to {
    -webkit-transform: rotateY(0deg) translateZ(0);
            transform: rotateY(0deg) translateZ(0);
  }
}

@keyframes rotateYBW {
  from {
    -webkit-transform: rotateY(-10deg) translateZ(0);
            transform: rotateY(-10deg) translateZ(0);
  }
  to {
    -webkit-transform: rotateY(0deg) translateZ(0);
            transform: rotateY(0deg) translateZ(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes projectsAnim {
  from {
    -webkit-transform: rotateX(5deg) scale(1) translateY(100px);
            transform: rotateX(5deg) scale(1) translateY(100px);
    opacity: 0.25;
  }
  to {
    -webkit-transform: rotateX(25deg) scale(0.9) translateY(0);
            transform: rotateX(25deg) scale(0.9) translateY(0);
    opacity: 1;
  }
}

@keyframes projectsAnim {
  from {
    -webkit-transform: rotateX(5deg) scale(1) translateY(100px);
            transform: rotateX(5deg) scale(1) translateY(100px);
    opacity: 0.25;
  }
  to {
    -webkit-transform: rotateX(25deg) scale(0.9) translateY(0);
            transform: rotateX(25deg) scale(0.9) translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */