// Colors
$bgColor: rgb(20, 20, 20);
$mainColor: #6930c3;
$BlueColor: #5390d9;
$cyanColor: #64dfdf;
$tiltColor: #5390d9;
$paraColor: rgb(192, 192, 192);

@font-face {
  font-family: clipFont;
  src: url("../fonts//Clip.ttf");
}

@font-face {
  font-family: sinkinThin;
  src: url("../fonts/SinkinSans-100Thin.otf");
}

@font-face {
  font-family: sinkinLight;
  src: url("../fonts/SinkinSans-200XLight.otf");
}

@font-face {
  font-family: sinkinRegular;
  src: url("../fonts/SinkinSans-400Regular.otf");
}

@font-face {
  font-family: sinkinMedium;
  src: url("../fonts/SinkinSans-500Medium.otf");
}

@font-face {
  font-family: sinkinBold;
  src: url("../fonts/SinkinSans-700Bold.otf");
}

@font-face {
  font-family: sinkinBlack;
  src: url("../fonts/SinkinSans-900XBlack.otf");
}

@font-face {
  font-family: leagueFont;
  src: url("../fonts/LeagueSpartan-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: visible;
}

body {
  background-color: $bgColor;
  color: rgb(243, 243, 243);
  font-family: sinkinRegular;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #fff;
  background-color: $BlueColor;
}

::selection {
  color: #fff;
  background-color: $BlueColor;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #6830c394;
  border-radius: 10px;
  border: 0px solid #000000;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a,
p,
span,
h1,
h2,
h3 {
  cursor: default;
}

a,
p,
span {
  font-family: sinkinRegular;
}

h1,
h2,
h3 {
  font-family: leagueFont;
}

h1 {
  font-size: 4em;
}

p {
  color: $paraColor;
}

button {
  cursor: pointer;
}

nav {
  position: fixed;
  z-index: 1;

  & h1 {
    text-align: center;
    cursor: pointer;
    position: absolute;
    padding: 40px;
    z-index: 99;
    font-size: 2em;
  }

  & ul {
    height: 100vh;
    width: max-content;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 20px 40px;
      height: 100%;
      width: 100%;
      cursor: pointer;
      transition: all 0.35s ease;
      clip-path: inset(5px -15px 5px 5px);

      &:last-child {
        cursor: default;
      }

      & a {
        font-family: sinkinBlack;
        cursor: pointer;
      }

      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }

      &:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }

      &:nth-child(5) {
        grid-area: 5 / 1 / 6 / 2;
      }

      &:nth-child(6) {
        grid-area: 6 / 1 / 7 / 2;
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
  height: max-content;

  .menu {
    position: fixed;
    top: 2vh;
    left: 4vw;
    z-index: 99;
  }

  #socialUl {
    position: fixed;
    bottom: 10%;
    right: 0;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgb(165, 165, 165);
    transition: background 0.3s ease;
    z-index: 98;

    &:hover {
      background-color: #fff;
    }

    & li {
      padding: 0 5px;
      font-size: 1.3vw;
      cursor: pointer;
      transition: color 0.3s ease;
      color: $bgColor;

      &:hover {
        color: $mainColor;
      }
    }
  }

  & .containerInner {
    perspective: 1000px;
    backface-visibility: hidden;

    #linesDiv {
      position: absolute;
      height: max-content;
      width: 100vw;
      z-index: -3;
      transform: rotate(0deg);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: $bgColor;
        animation: lineAnim 4s infinite;
        z-index: -1;
      }

      & #hideTop {
        position: absolute;
        right: 0;
        top: -120px;
        height: 130px;
        width: 100%;
        background-color: $bgColor;
      }

      & #waveShape {
        position: relative;
        filter: drop-shadow(0 0 20px $mainColor);
        z-index: -3;
      }
    }

    & .main {
      position: relative;
      width: 100%;
      transform: rotateY(0deg) translateZ(0);
      transition: transform 0.5s ease, filter 0.5s ease;
      transform-origin: right;
      overflow: hidden;

      & .header {
        position: relative;
        width: 100%;
        height: 100vh;

        & #linesDiv {
          transform: rotate(-30deg) scale(1.25) translate3d(0, 0, -1px);
          z-index: -3;
        }

        & .grid-col-2 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          height: 100%;
          width: 100%;
          place-items: center;

          & #welcomeDiv {
            display: none;
          }

          & .grid-item-1 {
            grid-area: 1 / 1 / 2 / 2;

            & h1 {
              font-family: clipFont;
              font-size: 7vw;
              background: linear-gradient(to right, $mainColor, $BlueColor);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all 0.3s ease;
            }

            & h3 {
              font-size: 1.8vw;
              transition: all 0.3s ease;
            }

            & #bottomTxt {
              max-width: 27.5vw;
              transition: all 0.3s ease;
            }

            #hireMe {
              position: absolute;
              bottom: 10%;
              appearance: none;
              border: none;
              background-color: transparent;
              cursor: pointer;
              animation: tilt-anim 3s ease infinite;
              transform-origin: 50% 50%;
              color: $bgColor;

              &:active {
                border: none;
              }

              & a {
                font-size: 4.5vw;
                text-shadow: 0px 0px 2px $mainColor;
                font-family: clipFont;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                  color: $BlueColor;
                  text-shadow: 0px 0px 10px $BlueColor;
                }
              }
            }
          }

          & .grid-item-2 {
            grid-area: 1 / 2 / 2 / 3;
            perspective: 800px;

            & #profileImgDiv {
              position: relative;

              & .card {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.35s ease;
                height: 30vw;
                width: 30vw;

                & #profile-image {
                  position: absolute;
                  height: 100%;
                  filter: drop-shadow(5px 5px 5px #000);
                  transition: all 0.3s ease;

                  @media (min-width: 600px) {
                    &:hover {
                      filter: drop-shadow(5px 5px 5px $mainColor);
                    }
                  }
                }
              }
            }

            & #hireMeMobile {
              display: none;
            }
          }
        }
      }

      & .about {
        position: relative;
        width: 100%;
        height: max-content;
        background-color: $bgColor;

        & #aboutTopGrid {
          position: relative;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          place-items: center;
          perspective: 1000px;

          & #linesDiv {
            transform: rotate(15deg) scale(1.1) translateY(50%);
            top: 40%;

            & #waveShape {
              position: relative;
              filter: drop-shadow(0 0px 20px $cyanColor);
              z-index: -3;
            }
          }

          & #skillsContainer {
            grid-area: 1 / 1 / 2 / 2;
            background-color: transparent;
            border-radius: 10px;
            transform: rotateY(20deg) translate(10%, 10%) translateZ(1px);
            transform-origin: left;
            transition: all 0.05s ease;
            backface-visibility: hidden;
            z-index: 3;

            & #skillsGrid {
              display: grid;
              grid-template-columns: 1fr 0.5fr 1fr;
              grid-template-rows: repeat(2, 1fr);
              grid-column-gap: 30px;
              grid-row-gap: 30px;
              place-items: center;

              & .skill {
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px 100px;
                text-align: center;
                border-radius: 10px;
                background-color: rgb(24, 24, 24);
                transition: all 0.5s ease;
                color: $bgColor;
                cursor: pointer;
                box-shadow: 0px 0px 5px 0 rgb(47, 47, 47),
                  -6px 10px 0 0 rgba(40, 40, 40, 0.75),
                  -12px 20px 0 0 rgba(45, 45, 45, 0.5);

                &:hover {
                  box-shadow: 0px 0px 25px 0 $mainColor,
                    -6px 10px 0 0 rgba(40, 40, 40, 0.75),
                    -12px 20px 0 0 rgba(45, 45, 45, 0.5) !important;
                }

                &:hover .skillHeader {
                  color: $mainColor;
                }

                &:not(:nth-child(3)):not(:nth-child(4)) {
                  & .skillHeader {
                    transition: color 0.3s ease;
                    background: linear-gradient(to right,
                        $mainColor,
                        $BlueColor);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }
                }

                &:nth-child(3),
                &:nth-child(4) {
                  box-shadow: 0px 0px 5px 0 $mainColor, -6px 10px 0 0 #6830c3b0,
                    -12px 20px 0 0 #6830c362;

                  &:hover {
                    box-shadow: 0px 0px 25px 0 rgb(105, 105, 105),
                      -6px 10px 0 0 #6830c3b0, -12px 20px 0 0 #6830c362 !important;
                  }
                }

                & .skillIcon {
                  font-size: clamp(50px, 7.5vw, 400px);
                  color: rgb(219, 219, 219);
                  transition: color 0.3s ease;
                }

                & .skillHeader {
                  font-size: clamp(20px, 1.5vw, 100px);
                  font-family: leagueFont;
                  cursor: pointer;
                }

                &:nth-child(1) {
                  grid-area: 1 / 1 / 2 / 2;

                  &:hover {
                    .skillIcon {
                      color: #f7df1d;
                    }
                  }
                }

                &:nth-child(2) {
                  grid-area: 2 / 1 / 3 / 2;

                  &:hover {
                    .skillIcon {
                      color: #0b78bb;
                    }
                  }
                }

                &:nth-child(3) {
                  grid-area: 1 / 2 / 2 / 3;
                  padding: 20px;
                  background: linear-gradient(to right, $mainColor, $BlueColor);

                  & .skillHeader {
                    color: #000;
                  }

                  &:hover {
                    .skillIcon {
                      color: #cd669b;
                    }
                  }
                }

                &:nth-child(4) {
                  grid-area: 2 / 2 / 3 / 3;
                  padding: 20px;
                  background: linear-gradient(to right, $mainColor, $BlueColor);

                  & .skillHeader {
                    color: #000;
                  }

                  &:hover {
                    .skillIcon {
                      color: #95bf47;
                    }
                  }
                }

                &:nth-child(5) {
                  grid-area: 1 / 3 / 2 / 4;

                  &:hover {
                    .skillIcon {
                      color: #e54d26;
                    }
                  }
                }

                &:nth-child(6) {
                  grid-area: 2 / 3 / 3 / 4;

                  &:hover {
                    .skillIcon {
                      color: #00d8ff;
                    }
                  }
                }
              }
            }
          }

          & #skillPara {
            grid-area: 1 / 2 / 2 / 3;
            padding: 10px;
            transform: translate(10px, 10px);
            transition: all 0.3s ease;
            padding: 10px;
            width: max-content;

            &::before {
              content: "";
              position: absolute;
              bottom: -10px;
              right: 0;
              width: 100%;
              height: 2px;
              filter: blur(10px);
              background-color: $cyanColor;
              box-shadow: 0px 0px 5px 0 $cyanColor, 5px 5px 10px 0 $mainColor,
                10px 10px 15px 0 $mainColor;
              z-index: -1;
            }

            &:hover p {
              color: #fff;
            }

            & h1 {
              font-size: clamp(25px, 2vw, 30px);
              font-family: sinkinBlack;
              width: max-content;
              background: #fff;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            & p {
              font-size: clamp(12px, 1vw, 30px);
              color: $paraColor;
              transition: color 0.3s ease;
            }

            & span {
              font-family: sinkinBold;
              color: $mainColor;
            }
          }
        }

        .qualitiesContainer {
          position: relative;
          padding-top: 200px;
          width: 100%;
          height: max-content;
          transition: all 0.5s ease;

          & h1 {
            width: 100%;
            text-align: center;
            padding-bottom: 50px;
            font-size: clamp(30px, 3vw, 100px);
            text-shadow: 4px 4px 0 $BlueColor, 8px 8px 0 $mainColor,
              8px 8px 4px $mainColor;
          }

          & #qualitiesGrid {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;

            & .item {
              background-color: rgba(0, 0, 0, 0.5);
              border-top: 6px solid $mainColor;
              border-radius: 10px;
              padding: 20px;
              width: 12.5vw;
              min-width: 300px;
              height: 30vh;
              min-height: 350px;
              margin: 5px 20px;
              transition: all 0.35s ease;
              cursor: pointer;

              &:hover {
                background-color: $mainColor;
                transform: translateY(-20px);
                box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0.75),
                  0px 18px 0 0 rgba(255, 255, 255, 0.5);
              }

              & .itemInner {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;

                & img {
                  height: 20vh;
                  max-height: 185px;
                }

                & h3 {
                  padding-top: 10px;
                  cursor: pointer;
                }

                & p {
                  font-family: sinkinRegular;
                  font-size: 12px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      & .projects {
        width: 100%;
        height: max-content;
        perspective: 1500px;
        padding-top: 100px;
        transform: translateY(200px);
        transition: all 0.5s ease;

        & .projectsGrid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 0.3fr repeat(3, 1fr);
          grid-row-gap: 10px;
          overflow-y: scroll;
          max-height: 70vh;
          scroll-behavior: smooth;
          transform: rotateX(5deg) scale(1) translateY(100px);
          opacity: 0.25;
          transition: all 0.5s ease;

          & .projectsHeader {
            padding: 0 40px;
          }

          & .projectItem {
            border-radius: 5px;
            background-color: $bgColor;
            transition: all 0.3s ease;

            &:hover {
              background: $mainColor;
            }
          }

          & .bouquetGrid {
            display: grid;
            grid-template-columns: 1fr 0.35fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0 40px;

            & .bouquetItem {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              width: 100%;
              height: auto;
              padding: 20px;

              &:nth-child(1) {
                grid-area: 1 / 1 / 5 / 2;

                & img {
                  width: 100%;
                  height: auto;
                }

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.15);
                }
              }

              &:nth-child(2) {
                grid-area: 1 / 2 / 3 / 3;

                & img {
                  width: 100%;
                  height: auto;
                }
              }

              &:nth-child(3) {
                grid-area: 3 / 2 / 5 / 3;
                background: linear-gradient(60deg, $mainColor, $BlueColor);
              }
            }
          }

          & .yarinGrid {
            display: grid;
            grid-template-columns: 0.35fr 0.75fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0 40px;

            & .yarinItem {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              width: 100%;
              height: auto;
              padding: 20px;

              &:nth-child(1) {
                grid-area: 1 / 2 / 5 / 3;

                & img {
                  width: 100%;
                  height: auto;
                }

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.15);
                }
              }

              &:nth-child(2) {
                grid-area: 1 / 1 / 3 / 2;

                & img {
                  width: 100%;
                  height: auto;
                }
              }

              &:nth-child(3) {
                grid-area: 3 / 1 / 5 / 2;
                background: linear-gradient(60deg, $mainColor, $BlueColor);
              }
            }
          }

          & .nitaiGrid {
            display: grid;
            grid-template-columns: 0.75fr 0.35fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0 40px;

            & .nitaiItem {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              width: 100%;
              height: auto;
              padding: 20px;

              &:nth-child(1) {
                grid-area: 1 / 1 / 5 / 2;

                & img {
                  width: 100%;
                  height: auto;
                }

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.15);
                }
              }

              &:nth-child(2) {
                grid-area: 1 / 2 / 3 / 3;

                & img {
                  width: 100%;
                  height: auto;
                }
              }

              &:nth-child(3) {
                grid-area: 3 / 2 / 5 / 3;
                background: linear-gradient(60deg, $mainColor, $BlueColor);
              }
            }
          }
        }
      }

      & .contact {
        position: relative;
        height: 100vh;
        display: none;

        & .test-grid {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 20px;
        }
      }
    }
  }
}

.mobileMenu {
  position: fixed;
  height: 100vh;
  width: max-content;
  z-index: 99;

  & #menuLine {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;

    & #menuScroller {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 50px;
      background-color: $mainColor;
      box-shadow: 0 0 10px 0 $mainColor;
      border-radius: 10px;
      transition: transform 0.05s ease;

      & #scrollerClick {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 50px;

        & #rightArrow {
          position: absolute;
          color: #fff;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          transition: all 0.7s ease;
          z-index: 101;
        }
      }

      & #menuHeader {
        position: relative;
        width: 100px;
        height: 50px;
        background-color: $mainColor;
        transform: rotateY(90deg);
        transform-origin: left;
        transition: transform 0.5s ease;
        z-index: 100;
        backface-visibility: visible;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 0.85;

        & a {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          font-family: leagueFont;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  nav {
    & h1 {
      // font-size: 1.5em;
      display: none;
    }
  }

  .container {
    & #socialUl {
      opacity: 0.8;

      & li {
        font-size: 5vw;
        padding: 2.5px;
      }
    }

    & .containerInner {
      & .main {

        & .projects {
          display: none;
        }

        & .header {
          z-index: 3;

          & #linesDiv {
            top: 20%;
            width: 140vw;
          }

          & .grid-col-2 {
            display: block;

            & #welcomeDiv {
              display: block;
              position: absolute;
              top: -100px;
              right: 50%;
              transform: translateX(50%);

              svg {
                display: block;
                font: 10.5em "Montserrat";
                width: 300px;
                height: 300px;
                margin: 0 auto;
              }

              .text-copy {
                fill: none;
                stroke: $bgColor;
                stroke-dasharray: 6% 29%;
                stroke-width: 5px;
                stroke-dashoffset: 0%;
                animation: stroke-offset 5.5s infinite linear;
              }

              .text-copy:nth-child(1) {
                stroke: $mainColor;
                animation-delay: -1;
              }

              .text-copy:nth-child(2) {
                stroke: $BlueColor;
                animation-delay: -2s;
              }

              .text-copy:nth-child(3) {
                stroke: $cyanColor;
                animation-delay: -3s;
              }

              .text-copy:nth-child(4) {
                stroke: $mainColor;
                animation-delay: -4s;
              }

              .text-copy:nth-child(5) {
                stroke: $BlueColor;
                animation-delay: -5s;
              }

              .text-copy:nth-child(6) {
                stroke: $cyanColor;
                animation-delay: -6s;
              }

              .text-copy:nth-child(7) {
                stroke: $mainColor;
                animation-delay: -7s;
              }

              @keyframes stroke-offset {
                100% {
                  stroke-dashoffset: 35%;
                }
              }
            }

            & .grid-item-1 {
              position: absolute;
              top: 25%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 4;
              text-align: center;

              & h1 {
                font-size: 12vw;
                white-space: nowrap;
                padding: 5px 0;
              }

              & h3 {
                font-size: 4vw;
              }

              & #bottomTxt {
                max-width: 100%;
                padding: 5px 0;
              }

              & #hireMe {
                display: none;
              }
            }

            & .grid-item-2 {
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);

              & #profileImgDiv {
                & .card {
                  height: 80vw;
                  width: 80vw;

                  & #profile-image {
                    width: 100%;
                    height: auto;
                  }
                }
              }

              & #hireMeMobile {
                display: block;
                position: relative;
                padding-top: 10px;
                appearance: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
                animation: tilt-anim 3s ease infinite;
                transform-origin: 50% 50%;
                color: $bgColor;
                width: 100%;
                text-align: center;
                z-index: 2;

                &:active {
                  border: none;
                }

                & a {
                  font-size: 10vw;
                  color: $BlueColor;
                  text-shadow: 0px 0px 10px $BlueColor;
                  font-family: clipFont;
                  transition: all 0.3s ease;
                  cursor: pointer;

                  &:hover {
                    color: $mainColor;
                    text-shadow: 0px 0px 10px $mainColor;
                  }
                }
              }
            }
          }
        }

        & .about {
          top: -50px;

          & #aboutTopGrid {
            display: block;

            & #linesDiv {
              transform: rotate(25deg) scale(1.4) translateZ(-1px);
              top: 60%;
              z-index: -3;

              & #waveShape {
                z-index: -100 !important;
              }
            }

            & #skillPara {
              width: 100%;
              text-align: left;
              padding: 5px 10px;

              &::before {
                width: 85%;
                left: 10px;
              }

              & h1 {
                width: 100%;
                padding: 0 10px 5px 0;
                text-align: left;
              }
            }

            & #skillsContainer {
              transform-origin: center;
              transform: rotateY(0) translateZ(1px);
              padding: 75px 20px 0 20px;

              & #skillsGrid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 15px;
                grid-row-gap: 15px;

                & .skill {
                  box-shadow: 0 0 0 transparent;
                  padding: 20px;

                  &:hover {
                    box-shadow: 0px 4px 15px 0 $mainColor,
                      0px 8px 0 0 rgba(40, 40, 40, 0.75),
                      0px 12px 0 0 rgba(45, 45, 45, 0.5) !important;
                  }

                  &:nth-child(3),
                  &:nth-child(4) {
                    box-shadow: none;

                    &:hover {
                      box-shadow: 0px 4px 15px 0 $mainColor,
                        0px 8px 0 0 rgba(40, 40, 40, 0.75),
                        0px 12px 0 0 rgba(45, 45, 45, 0.5) !important;
                    }
                  }

                  &:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                  }

                  &:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                  }

                  &:nth-child(3) {
                    grid-area: 2 / 1 / 3 / 2;
                  }

                  &:nth-child(4) {
                    grid-area: 2 / 2 / 3 / 3;
                  }

                  &:nth-child(5) {
                    grid-area: 3 / 1 / 4 / 2;
                  }

                  &:nth-child(6) {
                    grid-area: 3 / 2 / 4 / 3;
                  }
                }
              }
            }
          }

          & .qualitiesContainer {
            padding-top: 100px;

            & h1 {
              padding-bottom: 25px;
            }

            & #qualitiesGrid {
              flex-direction: column;
              flex-wrap: nowrap;
              justify-content: flex-start;
              align-items: center;
              align-content: center;

              & .item {
                margin: 20px;
              }
            }
          }
        }
      }
    }
  }
}

// Animations

.rotateY {
  animation: rotateY 0.5s ease;
  animation-fill-mode: forwards;
}

.rotateYBW {
  animation: rotateYBW 0.5s ease;
  animation-fill-mode: forwards;
}

.navActive {
  display: grid;
  background-color: $mainColor;
  box-shadow: 0px 0px 20px 0 $mainColor;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
}

.projectsAnim {
  animation: projectsAnim 0.5s ease;
  animation-fill-mode: forwards;
}

// Keyframes
@keyframes tilt-anim {
  0% {
    transform: translate(0, 0);
    color: $bgColor;
  }

  2% {
    transform: translate(5px, 0);
    color: $tiltColor;
  }

  3% {
    transform: translate(0, 0);
    color: $bgColor;
  }

  5% {
    transform: translate(5px, 0);
    color: $tiltColor;
  }

  7% {
    transform: translate(0, 0);
    color: $bgColor;
  }

  9% {
    transform: translate(5px, 0);
    color: $tiltColor;
  }

  10% {
    transform: translate(0, 0);
    color: $bgColor;
  }

  100% {
    transform: translate(0, 0);
    color: $bgColor;
  }
}

@keyframes lineAnim {
  from {
    width: 100%;
    opacity: 0;
  }

  to {
    width: 0%;
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg) translateZ(0);
  }

  to {
    transform: rotateY(-10deg) translateZ(0);
  }
}

@keyframes rotateYBW {
  from {
    transform: rotateY(-10deg) translateZ(0);
  }

  to {
    transform: rotateY(0deg) translateZ(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes projectsAnim {
  from {
    transform: rotateX(5deg) scale(1) translateY(100px);
    opacity: 0.25;
  }

  to {
    transform: rotateX(25deg) scale(0.9) translateY(0);
    opacity: 1;
  }
}